<div class="container">
  <div class="titleDiv">
    <h1 class="center">La Sélection de la semaine</h1>
    <p class="subTitle">
      Découvres les podcasts les plus écoutés du moment toutes plateformes
      confondues !
    </p>
    <div class="userInputs">
      <div class="row justify-content-center">
        <div class="col-sm-8">
          <div class="input-group input-group-md">
            <input
              id="search-input"
              type="text"
              class="form-control"
              placeholder="Rechercher"
              autofocus
              [(ngModel)]="keyword"
              (ngModelChange)="keywordSubject.next($event)"
              name="keyword"
            />
          </div>
        </div>
        <div class="select-container">
          <select
            class="form-select form-select-md"
            [(ngModel)]="selectedGenre"
            name="selectedGenre"
            (click)="getPodcastByGenre()"
          >
            <option value="" disabled selected>Filtrer par genre</option>
            <option value="all">Tous</option>
            <option *ngFor="let genre of genres" [value]="genre">
              {{ genre }}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="card-deck">
      <div
        *ngFor="let podcast of podcastList"
        class="col col-xl-3 col-lg-4 col-md-6 col-sm-12"
      >
        <a [routerLink]="['detail', podcast.podcastId]">
          <div class="card" podcastBorderCard>
            <img
              class="card-img-top"
              [src]="podcast.image"
              alt="Image du podcast"
            />
            <div class="card-body">
              <h5 class="card-title title">{{ podcast.title }}</h5>
              <p class="card-text publisher">{{ podcast.publisher }}</p>
              <div class="genres">
                <span *ngFor="let genre of podcast.genres">| {{ genre }} </span>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
