button {
    font-family: $normalFont;
	border-radius: 20px;
	border: 1px solid $yellow;
	background-color: $yellow;
	color: black;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:hover {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}